# Python bytecode
__pycache__/
*.py[cod]

# Environments
.env
.venv/

# Tests
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# OS Specific
.DS_Store

# Data
data/*.csv
!data/regions.csv

# Scripts
debug_*.py
*.log

# Build Artifacts
*.egg-info/
